:root {
  --clr-primary: hsl(75, 94%, 57%);

  --clr-neutral-200: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(0, 0%, 20%);
  --clr-neutral-600: hsl(0, 0%, 12%);
  --clr-neutral-800: hsl(0, 0%, 8%);

  --fw-regular: 400;
  --fw-bold: 600;
  --fw-extra-bold: 700;

  --size: 0.9rem;

  --ff-main: "Inter", sans-serif;
}

/* END OF ROOT SELECTOR */
